<header class="header">
    <nav class="nav-container">
        <a href="/" class="nav-link">Inicio</a>
        <div class="nav-right">
            <div class="dropdown">
                <a href="#/graficos" class="nav-link">Gráficos</a>
                <div class="dropdown-content">
                    <a href="/graficos/precios-por-producto" class="nav-link">Precios por Producto</a>
                    <a href="/graficos/compradores-no-compradores" class="nav-link">Compradores y no compradores</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-right {
    margin-left: auto;
}
</style>



