<div class="menu-grafik">
    <a href="/grafik/productos-precio" class="menu-item">Productos por Precio</a>
    <a href="/grafik/compradores-no-compradores" class="menu-item">Compradores vs No Compradores</a>
</div>


